@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Comfortaa", sans-serif;
}
/* Tailwind CSS for autofill handling */
input:-webkit-autofill {
  background-color: #111827 !important; /* Tailwind bg-gray-900 */
  color: #e5e7eb !important; /* Tailwind text-gray-200 */
  -webkit-box-shadow: 0 0 0px 1000px #111827 inset !important; /* force background */
  transition: background-color 5000s ease-in-out 0s !important;
}

input:-webkit-autofill:focus {
  background-color: #111827 !important;
  color: #e5e7eb !important;
  -webkit-box-shadow: 0 0 0px 1000px #111827 inset !important;
}

:root {
  --bg-main: #581c87; /* purple 900 */
  --text-main: #ffffffff; /* snow white*/
  --text-dim: #cbd5e0; /* gray-400*/
  --border-main: #fff;
  --border-dim: #cbd5e0; /* gray-400*/
}

/**
* light theme settings
*/
.snow {
  --bg-main: #fffafa; /* snow white*/
  --text-main: #111827; /* black */
  --text-dim: #6b7280; /* gray-500*/
  --border-main: #000; /* black */
  --border-dim: #6b7280;
}
/**
* darkie theme
*/
.darkie {
  --bg-main: #111827; /* gray-900 */
  --text-main: #f9fafb; /* gray-50 */
  --text-dim: #9ca3af; /* gray-400 */
  --border-main: #fff; /* gray-700 */
  --border-dim: #4b5563; /* gray-600 */
  --accent: #8b5cf6; /* violet-500 */
}

.theme-wrapper {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text-dim {
  color: var(--text-dim);
}
.border-main {
  border-color: var(--border-main);
}
.border-dim {
  border-color: var(--border-dim);
}

.bg-custom {
   background: linear-gradient(
    to bottom right,
    #6b21a8,  /* purple-700 */
    #9333ea,  /* purple-600 */
    #6b21a8   /* purple-700 again */
  );
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
